  .button-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 20px;
  }

  .save-button {
    float: right;
    background-color: #395f83;
    color: white;
  }

  .wiki {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .error-red {
    color: red;
  }
  
  .text-center {
    text-align: center;
  }

  .login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  