<div class="modal-overlay">
  <div class="modal-content">
    <h1>Login</h1>
    <div class="input-container">
      <label for="username">Usuário:</label>
      <input class="custom-text" type="text" id="username" [(ngModel)]="username" />      
    </div>
    <div class="input-container">
      <label for="password">Senha:</label>
      <input class="custom-text" type="password" id="password" [(ngModel)]="password" />      
    </div>
    <div *ngIf="!usuarioEncontrado" class="error-message error-message-small">Usuário não encontrado</div>
    <div *ngIf="!senhaValida" class="error-message error-message-small">Senha inválida</div>
    <div class="button-container">
      <button class="save-button" (click)="logar()">Acessar</button>
    </div>    
  </div>
</div>
