.confirmation-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    padding: 20px;
    z-index: 9999;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .modal-overlay {    
    z-index: 9999; 
  }
  
  .confirmation-modal-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .confirmation-modal-message {
    margin-bottom: 20px;
  }
  
  .confirmation-modal-buttons {
    display: flex;
    justify-content: flex-end;
  }
  
  .confirmation-modal-button {
    margin-left: 10px;
  }
  