.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 33;
  display: none;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: white;
  padding: 20px;
}
  
.show.modal-overlay {
  display: flex;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.close-button {
  float: right;
  background-color: #395f83;
  color: white;
}

.save-button {
  float: right;
  background-color: #395f83;
  color: white;
}

.custom-text {
  width: 210px;
}

.custom-textarea {
  width: 210px;
  height: 150px;
}

.tooltip {
  display: inline-block;
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  font-size: 12px;
  opacity: 0.8;
  transition: opacity 0.3s;
  font-weight: normal;
}

.tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #333 transparent transparent transparent;
}

.tooltip[aria-hidden="true"] {
  display: none;
}

.tooltip[aria-hidden="false"] {
  display: inline-block;
}

 
  