.card svg.material-icons path {
    fill: #888;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
    overflow: auto;
  }
  
  .card {
    all: unset;
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 500px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
    overflow: auto;
  }
  
  .card-container .card:not(:last-child) {
    margin-right: 0;
    overflow: auto;
  }
  
  .card.card-small {
    height: 16px;
    width: 168px;
  }
  
  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }
  
  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    overflow: auto;
  }
  
  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
    overflow: auto;
  }
  
  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }
  
  .card.card.highlight-card span {
    margin-left: 60px;
  }
    
    .scrollable-div {
      height: 300px; /* altura fixa desejada */
      overflow: auto; /* ou 'scroll' para sempre mostrar a barra de rolagem */
    }
  
    .clickable-card {
      cursor: pointer;
    }
    
    .clickable-card:hover {
      transform: translateY(-2px);
    }
    
    .clickable-card.mat-elevation-z8:hover {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.24), 0 2px 4px rgba(0, 0, 0, 0.12);
    }
  
    .card {
      all: unset;
      border-radius: 4px;
      border: 1px solid #eee;
      background-color: #fafafa;
      height: 40px;
      width: 100%;
      margin-bottom: 16px;
      padding: 16px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      transition: all 0.2s ease-in-out;
      line-height: 24px;
    }
  
    .card-item {
      width: calc(43% - 16px); /* A largura é definida como metade do container, subtraindo o espaçamento entre os cards */
      margin: 8px;
      overflow: auto;
    }
  
    .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
  }
  
  .show.modal-overlay {
    display: flex;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .add-button {
    float: right;
    background-color: #395f83;
    color: white;
  }

  .excluir-button {
    float: right;
    background-color: #681a34;
    color: white;
  }

  .text-center {
    text-align: center;
  }