<div>
    <div class="header">
        <b>ALBUM: {{ album?.name }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</b>
        <div class="header">
          <button title="Editar Álbum" class="add-button" (click)="openModal()">/</button>
          <button title="Excluir Álbum" class="excluir-button" (click)="excluir()">X</button>
        </div>
    </div>
    <app-album-add-modal
      [showModal]="showModal"
      [albumTitle]="albumTitle"
      [albumid]="albumid"
      (closeModalEvent)="closeModal()">
    </app-album-add-modal>
    <app-selo-add-modal
      [showSeloModal]="showSeloModal"
      [seloTitle]="seloTitle"
      [albumid]="albumid"
      (closeModalEvent)="closeSeloModal()">
    </app-selo-add-modal>
    <br>
</div>

<div>
  <div class="header">
    <b>Selos:</b>
    <button title="Adicionar Selo" class="add-button" (click)="openSeloModal()">+</button>        
  </div>
  <ng-container *ngIf="album && album.selos && album.selos.length > 0; else noSelos">
    <div class="card-container">
      <mat-card *ngFor="let selo of album?.selos" class="clickable-card card-item" (click)="onCardClick(selo)">        
        <mat-card-header>
          <br> 
          <mat-card-title>{{ selo?.name }}</mat-card-title>
          <mat-card-subtitle>{{ selo?.description }}</mat-card-subtitle>
          <br> 
        </mat-card-header>  
        <mat-card-content>        
        </mat-card-content>            
      </mat-card>
    </div>
  </ng-container>
  <ng-template #noSelos>
    <p class="text-center">Nenhum Selo disponível.</p>
  </ng-template>  
</div>

<div class="header">
  <br><br><br><br><br><br>
</div>

  