<div class="modal-overlay modal-auto-height" [class.show]="showSeloModal">
  <div class="modal-content">
    <h1>{{ seloTitle }} Selo</h1>
    <div class="input-container">
      <label for="tipo">Tipo:</label>
      <select class="custom-text" id="tipo" *ngIf="selo" [(ngModel)]="selo.type">
        <option value="Beneficente">Beneficente</option>
        <option value="Comemorativo">Comemorativo</option>
        <option value="Especial">Especial</option>
        <option value="Ordinario">Ordinário</option>
        <option value="Promocional">Promocional</option>
        <option value="Outros">Outros</option>
      </select>
    </div>
    <div class="input-container">
      <label for="nome">Nome:</label>
      <input class="custom-text" type="text" id="nome" *ngIf="selo" [(ngModel)]="selo.name" /> 
    </div>
    <div class="input-container">
      <label for="descricao">Descrição:</label>
      <textarea class="custom-textarea" id="descricao" *ngIf="selo" [(ngModel)]="selo.description"></textarea>
    </div>
    <div class="input-container">
      <label for="anoFabricacao">Ano de Fabricação:</label>
      <input class="custom-text" type="number" id="anoFabricacao" *ngIf="selo" [(ngModel)]="selo.year" />
    </div>
    <div class="input-container">
      <label for="pais">País:</label>
      <input class="custom-text" type="text" id="pais" *ngIf="selo" [(ngModel)]="selo.country" />
    </div>
    <div class="input-container">
      <label>Carimbo:
        <input type="checkbox" id="carimbo" *ngIf="selo" [(ngModel)]="selo.stamp" />
      </label>
    </div>        
    <div class="input-container">
      <label>Filigrama:
      <label class="radio-label"><input type="radio" name="filigrama" value="Sim" *ngIf="selo" [(ngModel)]="selo.filigram"> Sim</label>
      <label class="radio-label"><input type="radio" name="filigrama" value="Não" *ngIf="selo" [(ngModel)]="selo.filigram"> Não</label>
    </label>
    </div>    
    <div class="button-container">      
      <button class="save-button" (click)="saveModal()">Salvar</button>
      <button class="excluir-button" *ngIf="seloTitle === 'Editar'" (click)="excluir()">Excluir</button>
      <button class="close-button" (click)="closeModal()">Fechar</button>
    </div>
  </div>
</div>
